@use "tailwindcss";
@use "@nuxt/ui";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  logs: false;
}

body {
  @apply min-w-96 !overflow-y-scroll;
}

label {
  @apply floating-label;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
  @apply input input-primary;
}

textarea {
  @apply input input-primary;
}

input[type="radio"] {
  @apply radio radio-primary;
}

input[type="file"] {
  @apply file-input file-input-primary;
}

input[type="range"] {
  @apply range range-primary;
}

select {
  @apply select select-primary;
}

.prose {
  @apply max-w-full;
}

:root {
  --color-primary: #000000 !important;

  --ui-primary: #000000;
  --ui-secondary: #fe4a01;

  --color-gray-50: #f9f9f9;
  --color-gray-100: #ececec;
  --color-gray-200: #e3e3e3;
  --color-gray-300: #cdcdcd;
  --color-gray-400: #b4b4b4;
  --color-gray-500: #9b9b9b;
  --color-gray-600: #676767;
  --color-gray-700: #424242;
  --color-gray-750: #2f2f2f;
  --color-gray-800: #212121;
  --color-gray-900: #171717;
  --color-gray-950: #0d0d0d;

}


.dark {
  --ui-primary: #ffffff;
  --ui-bg: var(--color-gray-800);
  --ui-bg-elevated: var(--color-gray-800);
  --color-primary: #ffffff !important;

  // 
  --color-base-100: var(--color-gray-900);
  --ui-border: var(--color-gray-700);
}